<aside class="col-3 border border-light p-3 mb-3" >
    <article class="card mb-3">
    <div class="card-header">
<h4 class="text-center">Catégories</h4>
    </div>
       <div class="card-body">
       <p>
         <a href="{{ path('admin_categories_index') }}">liste des catégories</a></p>
           <p>
         <a href="">Ajouter une catégories</a></p>
</div>
    </article>
    <article class="card mb-3">
    <div class="card-header">
   <h4 class="text-center"> Produits</h4>
    </div>
       <div class="card-body">
       <p>
         <a href="{{ path('admin_dishes_index') }}">liste des produits</a></p>
           <p>
         <a href="{{ path('admin_dishes_add') }}">Ajouter un produit</a></p>
</div>
    </article>
     <article class="card mb-3">
    <div class="card-header">
  <h4 class="text-center">  Utilisateurs</h4>
    </div>
       <div class="card-body">
       <p>
         <a href="{{ path('admin_users_index') }}">Voir ou modifier un utilisateur</a></p>
</div>
    </article>
</aside>