{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Entrez votre nouveau mot de passe.</h1>
            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <button type="submit" class="btn btn mt-3">Envoyer</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>

{% endblock %}
