{% extends 'base.html.twig' %}

{% block title %}Mieux nous connaitres{% endblock %}

{% block body %}
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">A propos de notre restaurant</h1>
        <meta name="description" content="Découvrez l'histoire et la philosophie de notre restaurant familial, proposant une cuisine française raffinée et des ingrédients locaux de qualité.">
      </div>
    </div>
    <div class="row">
  <div class="col-md-6">
    <h3 class="text-center">Notre histoire</h3>
    <p>
      Fondé en 1998, notre restaurant est le fruit de la passion et du travail acharné de notre famille. Depuis lors, nous nous efforçons de proposer une expérience culinaire inoubliable à nos clients, en mêlant la tradition française et les saveurs locales.
    </p>
  </div>

  <div class="col-md-6">
    <h3 class="text-center">Notre philosophie</h3>
    <p>
      Dans notre restaurant, nous croyons en la qualité des ingrédients et en l'importance de soutenir les producteurs locaux. C'est pourquoi nous travaillons main dans la main avec des fournisseurs de la région, afin de vous proposer des plats savoureux et authentiques.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Notre équipe</h3>
       <p>
      Notre équipe est composée de professionnels passionnés, qui mettent tout en œuvre pour vous offrir une expérience gastronomique mémorable. Du chef cuisinier aux serveurs et serveuses, chacun est dévoué à vous offrir un service exceptionnel et des plats délicieux.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Nos engagements</h3>
    <p>
      Chez nous, la satisfaction de nos clients est notre priorité. Nous nous engageons à respecter les normes d'hygiène les plus strictes et à proposer des plats faits maison, élaborés à partir de produits frais et de saison. Nous sommes également fiers de promouvoir une démarche écoresponsable en minimisant notre empreinte écologique et en soutenant les producteurs locaux.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Venez nous rencontrer</h3>
    <p>
      Nous vous invitons à venir découvrir notre restaurant et à partager un moment convivial en famille ou entre amis. Laissez-vous séduire par notre cuisine raffinée et notre ambiance chaleureuse. Réservez dès maintenant votre table et venez nous rencontrer pour une expérience culinaire inoubliable.
    </p>
  </div>
</div>
  </div>
</section>


{% endblock %}
