<form class="text-center" method="post" action="{{ path('admin_calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button class="btn btn2">Supprimé</button>
</form>
