{% extends 'base.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}

{% block body %}
    <h1>Modifier la réservation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Sauvegarder</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_calendar_index') }}">Retour à la liste</a>
{% endblock %}
