{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block body %}

	<main class="container text-center">
		<section class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="text-start">Modifier</h1>
                {% include "admin/users/_form.html.twig" with {'button_label': 'Modifier'} %}
			</div>
		</section>
	</main>

{% endblock %}



	


