{% extends 'base.html.twig' %}

{% block title %}  
Administration
{% endblock %}

{% block body %}
 <h1 class="text-center">Tableau de bord bonjour Mr {{ app.user.lastname }}</h1> 
<div class="container">
    <div class="row">
    
    {% include "_partials/_adminnav.html.twig" %}
    <main class="col-9 p-2">
  
    </main>
    </div>
</div>
{% endblock %}

