{% extends 'base.html.twig' %}

{% block title %}
	Liste des catégories
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-9 p-2">
				<h1 class="text-center">Liste des catégories</h1>
				<table class="table">
					<thead>
						<tr class="text-center">
							<th class="text-center">Nom</th>
							<th class="text-center">Parent</th>
							<th class="text-center">N°</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					{% for categorie in categories %}
						<tr class="text-center">
							
							<td>{{ categorie.name }}</td>
							<td>
								{% if categorie.parent is not null %}
									{{ categorie.parent.name }}
								{% endif %}
							</td>
							<td>{{ categorie.categoryOrder }}</td>
								<td class="align-middle">
								<a href="{{ path('admin_categories_edit', {'id': categorie.id}) }}" class="btn btn2">Modifier</a>
								
							</td>
						</tr>

					{% endfor %}
				</table>
			</main>
		</div>
	</div>
{% endblock %}
