  #calendar{
    width: 80%;
    margin: auto;
    color: var(--text-color);
  }

  #calendar div a {
    background-color: var(--templates-color);
    color: var(--text-color);
    border-radius: 2px solid;
  }

  #calendar div span {
    background-color: var(--templates-color);
    color: var(--text-color);
    border-radius: 2px solid;
  }

  #calendar div button{
    background-color: var(--templates-color);
    color: var(--text-color);
    border-radius: 2px solid;
  }

  input#calendar_dateStart{
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 2px solid;
  }

  input#calendar_nbOfPeople{
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 2px solid;
  }

  .btn a{
    color: var(--text-color);
  }

  label.required{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  