:root{
    --templates-color: #1e1f20;
    --button-color: #2274A5;
    --button2-color: #960200;
    --button3-color: #BA324F;
    --button4-color: #5C8599;
    --hoverbtn-color: #F45B69;
    --hoverbtn2-color: #34A853;
    --hoverbtn3-color: #6D5A9C;
    --text-color: #ffde59;
    
  }