#cookie-banner{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--template-color);
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;

}