a.nav-link{
    color: var(--text-color);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.4rem;
}

a.nav-link:hover{
    color: var(--button-color);
}

a.navbar{
    display: block;
}

nav{
    display: inline-block;
}

title{
    font-family: 'Roboto Flex', sans-serif;
}


.nav-item .dropdown-menu {
    background-color:var(--templates-color); 
  }
  
  /* Modifier la couleur du texte des éléments du menu déroulant */
  .nav-item .dropdown-menu .dropdown-item {
    color:var(--text-color);
    background-color:var(--templates-color);
  }
  
  /* Modifier la couleur du texte des éléments du menu déroulant au survol */
  .nav-item .dropdown-menu .dropdown-item:hover {
    color: var(--button-color);
    background-color: var(--templates-color);
  }
  

