#navbar {
    background-color: var(--templates-color);
    opacity: 0.9;
}


a.nav-link{
    color: var(--text-color);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.4rem;
}

a.nav-link:hover{
    color: var(--button-color);
}

a.navbar{
    display: block;
}

nav{
    display: inline-block;
}

title{
    font-family: 'Roboto Flex', sans-serif;
}


.nav-item .dropdown-menu {
    background-color:var(--templates-color); 
  }
  
  /* Modifier la couleur du texte des éléments du menu déroulant */
  .nav-item .dropdown-menu .dropdown-item {
    color:var(--text-color);
    background-color:var(--templates-color);
  }
  
  /* Modifier la couleur du texte des éléments du menu déroulant au survol */
  .nav-item .dropdown-menu .dropdown-item:hover {
    color: var(--button-color);
    background-color: var(--templates-color);
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    margin-right: 30px;
  }

  .navbar-collapse.show {
    background-color: var(--templates-color);
}

button.navbar-toggler span{
  background-color: var(--text-color);
  color: var(--text-color);
  border: 3px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
}

.menu-btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.menu-btn:focus {
  outline: none;
}

.menu-btn__line {
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s;
}

/*.navbar {
  min-height: 80px;
}

.navbar .dropdown-menu {
  margin-top: 0;
}*/




