.table td th {
    background-color: var(--templates-color);
    color: var(--text-color);
}

thead tr th{
    background-color: var(--templates-color);
    color: var(--text-color);
}

tbody tr td{
    background-color: var(--templates-color);
    color: var(--text-color);
}

td{
    text-align: center;
    font-size: 20px;
}

.table a.btn{
    color: var(--text-color);
    text-align: center;
}

td p{
    text-align: center;
}

.table td, .table th {
    padding: 0;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}