
<h1>Modification de réservation</h1>
<p>Bonjour {{ reservation.name.firstname }},</p>
<p>Votre réservation a été modifiée avec succès.</p>
<p>Nouvelle date et heure de réservation : {{ reservation.start|date('d-m-Y H:i') }}</p>
<p>Merci de votre confiance et à bientôt.</p>

{% set logo_url = absolute_url(asset('https://restaurant/restaurant/assets/images/OrangeetBordeauxRestaurantLogo.png')) %}
<img style="width: 150px; height: auto; background-color: #1e1f20; padding: 10px; border-radius: 5px;" src="{{ logo_url }}" alt="Logo" />