
<h1>Nouvelle réservation</h1>
<p>Bonjour Mr{{ reservation.name.lastname }},</p>
<p>Votre réservation a été créée avec succès.</p>
<p>Date et heure de réservation : {{ reservation.start|date('d-m-Y H:i') }}</p>
 <li>Nombre de personnes : {{ reservation.numberOfGuests }}</li>
<p>Merci de votre confiance et à bientôt.</p>

{% set logo_url = absolute_url(asset('https://restaurant/restaurant/assets/images/OrangeetBordeauxRestaurantLogo.png')) %}
<img style="width: 150px; height: auto; background-color: #1e1f20; padding: 10px; border-radius: 5px;" src="{{ logo_url }}" alt="Logo" />

